<style type="text/css">


/*  announcements tab */
div.announcements-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.announcements-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.announcements-tab-menu div.list-group{
  margin-bottom: 0;
}
div.announcements-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.announcements-tab-menu div.list-group>a .glyphicon,
div.announcements-tab-menu div.list-group>a .fa {
  color: #62b66b;
}
div.announcements-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.announcements-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.announcements-tab-menu div.list-group>a.active,
div.announcements-tab-menu div.list-group>a.active .glyphicon,
div.announcements-tab-menu div.list-group>a.active .fa{
  background-color: #62b66b;
  background-image: #62b66b;
  color: #ffffff;
}
div.announcements-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #62b66b;
}

div.announcements-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.announcements-tab div.announcements-tab-content:not(.active){
  display: none;
}

</style>


        <div class="col-md-12 announcements-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 announcements-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  New Offers
                </a>
                <a href="#" class="list-group-item text-center">
                  New Discounts
                </a>
                <a href="#" class="list-group-item text-center">
                  Coming Soon
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 announcements-tab">
                <!-- new offers section -->
                <div class="announcements-tab-content active">
                		<%= render "new_offers"%>
                </div>
                <!-- new discounts section -->
                <div class="announcements-tab-content">
                   <%= render "new_discounts"%>
                </div>
    
                <!-- Coming  soon section -->
                <div class="announcements-tab-content">
                <%= render "coming_soon"%>
                </div>
            </div>
        </div>

<script type="text/javascript">

$(document).ready(function() {
    $("div.announcements-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.announcements-tab>div.announcements-tab-content").removeClass("active");
        $("div.announcements-tab>div.announcements-tab-content").eq(index).addClass("active");
    });
});

</script>