<!-- main carousel -->
<div id="main_slider">
         <div class="carousel slide" id="mainCarousel" data-interval="false">
            <!-- Carousel items -->
            <div class="carousel-inner">
            <div class="active item" data-slide-number="0">

<!-- one row -->
  <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="fa fa-send fa-3x white"></span></div>
                    <div class="info">
                        <h3 class="title">Recommend</h3>
                        <p>
                            recommend a product from your store.
                        </p>
                        <div class="more">
                            <a href="<%= recommend_products_path%>" data-remote="true" title="Title Link"><i class="fa fa-plus"></i> Enter
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="fa fa-bolt fa-3x white"></span></div>
                    <div class="info">
                        <h3 class="title">Announcement</h3>
                        <p>
                            create accouncement for new offers,products etc. 
                        </p>
                        <div class="more">
                            <a href="<%= dashboard_announcements_path%>" data-remote="true" title="Title Link"><i class="fa fa-plus"></i> Enter
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="fa fa-gift fa-3x white"></span></div>
                    <div class="info">
                        <h3 class="title">Discount Codes</h3>
                        <p>
                            generate discount codes for your customers
                        </p>
                        <div class="more">
                            <a href="#" title="Title Link"><i class="fa fa-plus"></i> Enter
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>



<!-- second row -->
  <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="fa fa-file-o fa-3x white"></span></div>
                    <div class="info">
                        <h3 class="title">Feedback Form</h3>
                        <p>
                            send feedback form to your customers.
                        </p>
                        <div class="more">
                            <a href="#" title="Title Link"><i class="fa fa-plus"></i> Enter
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="fa fa-bar-chart fa-3x white"></span></div>
                    <div class="info">
                        <h3 class="title">Analysis</h3>
                        <p>
                            analyse orders,sales and other informations.
                        </p>
                        <div class="more">
                            <a href="<%= dashboard_analysis_path %>" data-remote="true" title="Title Link"><i class="fa fa-plus"></i> Enter
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="fa fa-flag-o fa-3x white"></span></div>
                    <div class="info">
                        <h3 class="title">Survey</h3>
                        <p>
                            generate online survey for your store.
                        </p>
                        <div class="more">
                            <a href="#" title="Title Link"><i class="fa fa-plus"></i> Enter
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
     </div><!-- data slide 0 ends -->   

     <div class="item" data-slide-number="1">

     </div>
   </div><!-- carousel inner ends -->
  </div><!--  mainCarousel ends -->
</div> <!-- main_slider ends -->    

