        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Shopease</strong></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Connect to your Store</h3>
                                    <label for="InputName">Shopify Subdomain (<strong>subdomain</strong>.myshopify.com)</label>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form action="<%= shopify_authorize_path %>" class="custom_form" method="post">
                                    <div class="form-group">
                                    <input type="text"  class="form-control" name="shop" id="shop" placeholder="yourshopname.myshopify.com" required="required"/><br/>
                                    </div>
                                    <button type="submit" class="btn  btn-primary">Connect!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


