 
<%= stylesheet_link_tag "template_script"%>
<%= javascript_include_tag "template_script"%>

<ul id="sortable1" class="connectedSortable">
</ul>
<ul id="sortable2">
  <li class="ui-state-highlight">
    <div class="container">
    		<h2>This is the Title of Email</h2>
    </div>
  </li>
  <li class="ui-state-highlight">
    <div class="container">
    	<p>This is the description</p>
    </div>
  </li>
  <li class="ui-state-highlight">
    <div class="container">
    	<p>This is the Footer</p>
    </div>
  </li>
</ul>
