<style type="text/css">
.btn-radio {
    width: 100%;
}
.img-radio {
    opacity: 1;
    margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

</style>

<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>Select your template</h1>
        </div>
        
        <div class="row">
          <% ['one','two','three','four','five','six','seven','eight','nine','ten'].each_with_index do |num,index|%>
            <div class="col-md-4" style="margin-bottom: 15px;">
                <div class="">
                     <img src="http://www.prepbootstrap.com/Content/images/shared/houses/h8.jpg" class="img-responsive thumbnail img-radio">
                        <a href="<%= template_path(1,:template_number=>num)%>" class="btn btn-primary btn-radio">Select and Edit</a>
                        <input type="checkbox" id="Select-item" class="hidden">
                </div>
            </div>
          <%end%>
        </div>
     
    </div>
</div>











<script type="text/javascript">

$(function () {
    $('.btn-radio').click(function(e) {
        $('.btn-radio').not(this).removeClass('active')
            .siblings('input').prop('checked',false)
            .siblings('.img-radio').css('opacity','1');
        $(this).addClass('active')
            .siblings('input').prop('checked',true)
            .siblings('.img-radio').css('opacity','0.5');
    });
});

</script>