<style type="text/css">
.coming_soon {
	width: 80%;
	margin: 0px auto;
	background: #62b66b;
}
.content{
	min-height: 46em;
}
.content-grid {
	text-align: center;
}

.coming_soon input[type="text"]{
	width: 70%;
	padding: 6px 7px;
	border: 1px solid #ccc;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(155, 155, 155);
	float:left;
}
.coming_soon input[type="submit"]{
	font-family: 'Ropa Sans', sans-serif;
	border:none;
	outline:none;
	display:block;
	float:left;
	background:#247EBA;
	color: #fff;
	padding: 8.3px 20px;
	font-size:1em;
	cursor:pointer;
}
.grid  {
	text-align: center;
	margin-top: 1em;
}
.grid h3 {
	font-family: 'Petit Formal Script', cursive;
	color: #FFF;
	display: block;
	padding-bottom: 2.5em;
	font-size: 1.6em;
	padding-top: 1.5em;
	font-weight: 600;
	text-align: center;
}
form {
	margin-bottom: 0;
	text-align: center;
	width: 100%;
}

</style>

<div class="coming_soon">
			<div class="wrap">
				<div class="content-grid">
				</div>
				<div class="grid">
		<p><img src="/assets/coming.png" title=""></p>
		<h3>We are Still Working on it.</h3>
		
						<form> 
							<input type="text"><input type="submit" value="Subscribe" />
						</form>
								<div class="clear"></div>
								</div>
		<div class="clear"></div>

		
		</div>
		</div>
		