<style type="text/css">
.under_construction_page{
	background:url(/assets/bg.png);
	width:1200px;
	margin:0 auto;
}
/*--sart-contant---*/
.left-content{
	width: 64%;
	float:right;
	margin-top: 68px;
}
.left-content h4{
	font-family: 'Ropa Sans', sans-serif;
	font-size:3em;
	color:#247EBA;
	text-transform: uppercase;
	width: 44%;
}
.left-content p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
	margin: 1px 0px 7px 0px;
	width: 80%;
}
.left-content input[type="text"]{
	width: 70%;
	padding: 6px 7px;
	border: 1px solid #ccc;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(155, 155, 155);
	float:left;
}
.left-content input[type="submit"]{
	font-family: 'Ropa Sans', sans-serif;
	border:none;
	outline:none;
	display:block;
	float:left;
	background:#247EBA;
	color: #fff;
	padding: 8.3px 20px;
	font-size:1em;
	cursor:pointer;
}
.right-content{
	float:left;
	width: 35%;
	text-align:right;
}
.left-des{
	width:50%;
}
.content {
	margin-top: 118px;
}

</style>
		<!--start-wrap-->
			<div class="under_construction_page">
				<div class="content">
					<div class="left-content">
						<h4>This page is under Maintainence</h4>
						<p>We will soon finish working on this page and let you know about it.If you want us to inform you when we will be finished,Provide us your email.</p>
						<form> 
							<input type="text"><input type="submit" value="Subscribe" />
						</form>					
					</div>
					<div class="right-content">
						<img src="/assets/banner.png" title="banner-name" /> 
					</div>
					<div class="clear"> </div>
				</div>
				<!--end-header-->
			</div>
		<!--start-wrap-->
